.category-items {
    position: relative;
    // width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: 50vh;
}

.category-items > img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}

.category-items_info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-items_title {
    color:white;
    margin-bottom: 20px;
} 

.category-items_button {
    border:none;
    padding: 10px;
    background-color: white;
    color:gray;
    cursor: pointer;
    font-weight: 600;
}


