<section class="newsletter">
    <div class="container">
        <div class="row">
            <h1 class="newsletter-title">Newsletter</h1>
            <div class="newsletter-description">Get timely updates from your favorite products.</div>
            <div class="newsletter-form">
                <input placeholder="Your email" class="newsletter-form--input">
                <button class="newsletter-form--button">
                    <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24"
                        aria-hidden="true">
                        <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>