
<form [formGroup]="createCheckoutPageForm">
  <div class="container">
    <div class="py-5 text-center">
      <h2>CHECKOUT FORM</h2>
    </div>
    <div class="row">
      <div class="col-md-7 col-lg-8 pb-2" style="max-height: 70vh; overflow-y: scroll; overflow-x: hidden;">
        <div *ngFor="let item of cartItems">
            <div class="row">
                <div class="border" style="padding: 10px">
                    <div class="row">

                          <div class="col-md-2" *ngIf="(item.product.images && item.product.images.length > 0); else placeholderImg">
                            <img [src]="item.product.images[0].fileUri" class="card-img-top" [alt]="item.product.name" title="{{item.product.name}}">
                          </div>

                          <ng-template #placeholderImg>
                            <div class="col-md-2">
                              <img src="http://via.placeholder.com/640x360" class="card-img-top" alt="placeholder image"
                                   title="product image" />
                            </div>
                          </ng-template>

                        <div class="col-md-10">
                          <div class="product_name_container">
                            <h5><a href="#" target="_blank">{{ item?.product?.name }}</a></h5>
                          </div>
                            <p>{{item.product.description}}</p>
                            <p><strong>Category:</strong> {{ item.product.productCategory.category }}</p>
                            <p><strong>Price:</strong> {{ item.product.price }}</p>
                            <p><strong>Quantity:</strong> {{item.quantity}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
        <div class="col-md-5 col-lg-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Your Cart Order Summary</span>
          </h4>

          <ul class="list-group mb-3">

            <li class="list-group-item d-flex justify-content-between">
              <span class="my-0">Items <span class="badge bg-primary rounded-pill">{{orderPayInfoDto.quantity}}</span> :</span>
              <span class="my-0">{{ itemPrice }}</span>
            </li>

            <li class="list-group-item d-flex justify-content-between">
              <span>Shipping & Handling : </span>
              <span>{{ shippingCost }}</span>
            </li>

            <li class="list-group-item d-flex justify-content-between">
              <span>Estimated tax : </span>
              <span>{{ tax }}</span>
            </li>

            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD) :</span>
              <strong>{{ orderPayInfoDto.price }}</strong>
            </li>
          </ul>
          <button type="button"  (click)="confirmPayment()"class=" row btn btn-primary btn-sm m-2">Confirm Payment</button>
        </div>
      </div>

    </div>

  </form>


