<!-- main cover display-->
<header class="main-cover-wrapper py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder mb-2">Welcome, Start browsing and discover the magic !</h1>
                    <p class="lead fw-normal mb-4"> Shop unique products and support local sellers on our online
                        marketplace.
                        Join our community today and experience the joy of discovering one-of-a-kind items. Start
                        browsing and discover the magic </p>
                    <div>
                        <a class="btn btn-primary btn-lg" href="/s">Shop Now</a>
                    </div>

                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img class="img-fluid rounded-3 my-5" src="https://i.ibb.co/cXFnLLV/3.png" alt="..." />
            </div>


        </div>
    </div>
</header>


<section>
    <div class="container">
        <app-category-items [topCategories]="topCategories"></app-category-items>
    </div>
</section>


<section>


    <div class="container" *ngFor="let category of topCategories">
        <div>
            <h2 class="text-center">{{category.category}}</h2>
        </div>
        <app-product-item [categoryId]="category.categoryId"></app-product-item>
    </div>

</section>

<app-newsletter></app-newsletter>