<div class="container" style="margin-top: 30px;">
<div class="row">
  <div class="col-3">
    <form [formGroup]="myForm"  (ngSubmit)="searchOrder()">
      <label>Enter orderId - OrderCode</label>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="productCode" placeholder="OrderId - OrderCode"
               formControlName="orderCode"
               required>
        <label for="productCode"><span class="text-danger">*</span>OrderId - OrderCode</label>
      </div>

      <div class="d-grid mb-2">
        <button class="btn btn-warning btn-login text-uppercase fw-bold" type="submit" [disabled]="loading">
          Search Order
          <app-loading *ngIf="loading" [repeat]="3"></app-loading>
        </button>
      </div>
    </form>
  </div>

  <div class="col-9" *ngIf="display">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-3">Order Placed
            <div>{{data.orderDate | date: 'fullDate'}}</div>
          </div>
          <div class="col-3">Total
            <div>{{data.total | currency: 'USD'}}</div>
          </div>
          <div class="col-3">Order Status<br/>
            <span class="badge" [ngClass]="data.orderStatus === 'DELIVERED' ? 'bg-primary': 'bg-danger'">
              {{data.orderStatus || 'PENDING'}}
            </span>
          </div>
          <div class="col-3"><a class="text-decoration-none" routerLink="/invoice/{{data.orderId}}">View Invoice</a></div>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <tr *ngFor="let orderItem of orderItem; let i=index">
            <td>
              <div class="row">
                <div class="col-3">
                  <img src="https://webobjects2.cdw.com/is/image/CDW/7061607?$product-detail$" width="150px" height="100px"/>
                </div>
                <div class="col-8">
                  {{orderItem.product.name}}, {{orderItem.product.description}}, Qty {{orderItem.quantity}}
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>

    </div>

  </div>
</div>

</div>

