<div class="container mt-5 mb-5 shopping-cart-wrapper">
  <!-- <button class="btn btn-success float-md-end" [routerLink]="['/checkingorder']">Check Previous Order</button> -->

    <div *ngIf="cartItems.length>0 else noItemsInCart" class="row">
        <div class="container">
            <h2>Shopping Cart</h2>
            <div class="mb-3" *ngFor="let item of cartItems">
<!--                <div class="row row-cols-1 row-cols-md-2 g-4">-->
                <div class="row row-cols-1">
                    <div class="border" style="padding: 10px">
                        <div class="row">

                          <div class="col-md-2" *ngIf="(item.product.images && item.product.images.length > 0); else placeholderImg">
                            <img [src]="item.product.images[0].fileUri" class="card-img-top" [alt]="item.product.name" title="{{item.product.name}}">
                        </div>

                        <ng-template #placeholderImg>
                          <div class="col-md-2">
                            <img src="http://via.placeholder.com/640x360" class="card-img-top" alt="placeholder image"
                                title="product image" />
                          </div>
                        </ng-template>

                            <!-- <div class="col-md-2">
                                <img src="https://picsum.photos/3264/1836?random=6" />
                            </div> -->

                            <div class="col-md-10">
                              <div class="product_name_container">
                                <h5><a href="#" target="_blank">{{ item?.product?.name }}</a></h5>
                                <button class="btn btn-danger"><i class="bi bi-trash-fill cursor-pointer" (click)="onItemRemove(item)"></i></button>
                              </div>
                                <p>{{ item.product.description }}</p>
                                <p><strong>Category:</strong> {{ item.product.productCategory.category }}</p>
                                <p><strong>Price:</strong> $ {{ item.product.price }}</p>
                                <p><strong>Quantity: {{" "}}</strong>

                                  <button class="btn btn-info btn-sm" (click)="onQtyChangeClick(item, false)" [disabled]="loading">{{"  "}} - {{"  "}}</button>
                                  {{ item.quantity }}
                                  <button class="btn btn-info btn-sm" (click)="onQtyChangeClick(item,true)" [disabled]="loading">{{"  "}} + {{"  "}}</button>
                                  <app-loading *ngIf="loading" cssClass="full-page-loader" [repeat]="3"></app-loading>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="float-end">
              <p class="lead mb-3">Subtotal ({{ cartItems.length }} item): {{ total }}</p>
              <button class="btn btn-success btn-lg float-end" [routerLink]="['/checkout']" routerLinkActive="router-link-active">Checkout</button>
            </div>
        </div>
    </div>
  <ng-template #noItemsInCart>
        <div class="col-md-12 text-center mt-5 mb-5">
            <h2>Your Shopping Cart is empty.</h2>
            <p>Your Shopping Cart lives to serve. Give it purpose — fill it with groceries, clothing, household
                supplies, electronics, and more.</p>
            <p>Continue shopping on the online-marketplace homepage, learn about today's deals, or visit your Wish List.
            </p>
        </div>
    </ng-template>

</div>
