<div class="container">


  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card flex-row my-3 border-0 shadow rounded-3 overflow-hidden">

        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-3 fw-light fs-5">Add Category</h5>

          <form [formGroup]="categForm" (ngSubmit)="saveCategory()">

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="categoryName" placeholder="nameCATEGORY"
                     formControlName="category"
                     [ngClass]="{ 'is-invalid': isSubmitted && formControls['category'].errors }" required
                     autofocus
                     required/>
              <label for="categoryName"><span class="text-danger">*</span> Name </label>
            </div>

            <div class="d-grid mb-2">

              <button class="btn btn btn-warning fw-bold text-uppercase" type="submit">
                Save
                <app-loading *ngIf="loading" [repeat]="3"></app-loading>
              </button>

            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
