<div class="container">
  <div class="col-12" *ngFor="let order of orderResponse; let i=index;">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-3">Order Placed
            <div>
              {{order.orderDto.orderDate | date: 'fullDate'}}
            </div>

          </div>
          <div class="col-2">Total
            <div>{{order.total | currency: 'USD'}}</div>
          </div>
          <div class="col-2">Order Status <br/>
            <span class="badge " [ngClass]="order.orderDto.orderStatus === 'DELIVERED' ? 'bg-primary': 'bg-danger' ">
              {{order.orderDto.orderStatus || 'PENDING'}}
            </span>
          </div>
          <div class="col-3">Ship To
            <div>{{order.orderDto.shipping.address.address1}}, {{order.orderDto.shipping.address.city}}
              , {{order.orderDto.shipping.address.state}}</div>
          </div>
          <div class="col-2"><a class="text-decoration-none" routerLink="/invoice/{{order.orderDto.orderId}}">View Invoice</a></div>
        </div>
      </div>
      <div class="card-body">
        <div class="row" *ngFor="let orderItem of order.relatedOrderItems">
          <div class="col-1">
            <img class="img-thumbnail" src="https://webobjects2.cdw.com/is/image/CDW/7061607?$product-detail$" width="130px" height="90px"/>
          </div>
          <div class="col-10">
            {{orderItem.product.name}}, {{orderItem.product.description}}, Qty {{orderItem.quantity}}
          </div> <br/> <br/> &nbsp;
        </div>
      </div>
    </div>
    <br/>
  </div>
</div>
